.Wrapper {
  width: 80rem;
  height: 100vh;

  margin: 5rem auto;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Wrapper-btn {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

.Wrapper-icon {
  display: flex;
  gap: 3rem;
}

.Description {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;

  color: #18181b;
}
